main {
  flex: 1;
}
:root {
  --primary-color: #f6f6f6;
  --secondary-color: #232b2b;
  --background-color: #5459AC;
}
h1 {
  font-size: 2rem;
  color: var(--primary-color);
  text-align: center;
  font-weight: 500;
}
h1:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease-in-out;
}

h1:not(:hover) {
  transition: transform 0.3s ease-in-out;
  transform: translateY(5px);
}
h2 {
  font-size: 1.5rem;
  color: var(--primary-color);
  text-align: center;
}
h3 {
  font-size: 1rem;
  color: var(--primary-color);
  text-align: center;
  margin: 1rem 0;
}
.icon {
  font-size: 2rem;
  margin: auto;
  color: var(--primary-color);
  font-weight: lighter;
}
p {
  font-size: 1rem;
  color: var(--secondary-color);
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 5%;
  height: 50vh;
}
footer {
  margin-top: auto;
  position: relative;
  width: 100%;
}
button{
  color: var(--primary-color);
  font-weight: bolder;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}
/* ul > li:first-child {
  margin-top: 30px;
} */
li {
  margin: 0 1rem;
}
ol {
  display: flex;
  color: var(--secondary-color);
  flex-direction: column;
  list-style: circle;
  list-style-position: inside;
  padding:0;
  margin-bottom: 10px;
}
.nav-sidebar {
  position: fixed;
  top: 0;
  right: -190px; /* Start off-screen */
  width: 190px;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  transition: right 0.5s ease; /* Add transition for the right property */
}
.hamburger {
  display: none; /* Hide by default, show on smaller screens */
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
  color: var(--primary-color);
}
.nav-sidebar.active {
  display: block;
  right: 0;
}
#landing {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#about {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#portfolio {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


@media screen and (max-width: 768px) {
  .nav-page,
  .nav-contact {
    display: none;
  }
  .hamburger {
    display: block;
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    list-style: none;
    padding: auto;
    margin: 20% 1rem;
  }
  li {
    padding: 10px;
  }
  #about, #portfolio{
    height: auto;
  }
}
