@import url("https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap");

.warpper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tab {
  cursor: pointer;
  padding: 10px 20px;
  margin: 0px 2px;
  display: inline-block;
  color: var(--primary-color);
  border-radius: 10px;
  box-shadow: 0 0.5rem 0.8rem #00000080;
}
.tabs {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}
.panels {
  background: var(--primary-color);
  box-shadow: 0 2rem 2rem #00000080;
  min-height: 200px;
  width: 100%;
  max-width: 80%;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  backdrop-filter: blur(10px); /* Apply the same blur to the child */
}
.panel {
  display: none;
  animation: fadein 0.8s;
  
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.panel-title {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--secondary-color);
  margin-bottom: 10px;
}
.radio {
  display: none;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel,
#four:checked ~ .panels #four-panel {
  display: block;
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab,
#four:checked ~ .tabs #four-tab {
  background: rgba(255, 255, 255, 0.1);
  color: var(--primary-color);
}
body {
  width: 100%;
  height: 100%;
  /* filter: contrast(220%) brightness(500%); */
  background: linear-gradient(270deg, rgb(30, 103, 155), rgb(130, 23, 149));
  animation: 5s ease infinite;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10%;
}
a {
  text-decoration: none;
  color: var(--primary-color);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.text-animation {
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 2rem;
}
.words {
  height: fit-content;
  animation: spin_words 9s ease infinite;
}
@keyframes spin_words {
  0% {
    transform: translateY(0%);
  }
  33% {
    transform: translateY(-33%);
  }
  66% {
    transform: translateY(-66%);
  }
}
.arrow {
  font-size: 24px; /* Adjust the size as needed */
  color: var(--primary-color); /* Adjust the color as needed */
  cursor: pointer;
}

.arrow:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease-in-out;
}
.arrow:not(:hover) {
  transition: transform 0.3s ease-in-out;
  transform: translateY(5px);
}
.nav-sidebar {
  position: fixed;
  top: 0;
  right: -190px; /* Start off-screen */
  width: 190px;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  transition: right 0.5s ease; /* Add transition for the right property */
}
.hamburger {
  display: none; /* Hide by default, show on smaller screens */
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
  color: var(--primary-color);
}
.nav-sidebar.active {
  display: block;
  right: 0;
}
#landing {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#about {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#portfolio {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.banner {
  position: relative;
}
/* Style the tab */
.tab {
  /* overflow: hidden; */
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  width: 100%;
}

.profile-picture {
  border-radius: 10px;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
  .nav-page,
  .nav-contact {
    display: none;
  }
  .hamburger {
    display: block;
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    list-style: none;
    padding: auto;
    margin: 20% 1rem;
  }
  li {
    padding: 10px;
  }
}
